modules = ["nodejs-20"]

[nix]
channel = "unstable"

[build]
target = "build"
command = "npm run build"

[env]
PATH = "/opt/nodejs/bin:/home/runner/.cargo/bin:/home/runner/.local/bin:$PATH"
NODE_ENV = "production"

[[ports]]
localPort = 5000
externalPort = 80

[versionControl]
enabled = true

[workflow]
run = "npm start"

